:root {
  --primary-color: #006699;
  --main-gray: #D7D9DF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

/* Login Styles */
.login-main-container {
  text-align: center;
  margin-top: 20vh
}

.login-main-container h1 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.1;
} 

.login-main-container h1 span {
  color: var(--primary-color);
}

.login-main-container h3 {
  color: var(--primary-color);
  margin-top: 0.6rem;
}

.login-main-container p {
  margin-top: 0.5rem;
}

.login-from-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5vh;
}

.login-from-container .error-message {
  margin-top: 1rem;
}

.login-from-container input {
  margin-bottom: 1rem;
}

/* Dashboard Container */

.dashboard-main-container {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Sidebar Container */
.sidebar-container {
  width: 20%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
}

.sidebar-container .btn-sign-out {
  position: absolute;
  bottom: 0;
}


/* Sidebar item */

.sidebar-item-container {
  border: 1px solid var(--main-gray);
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

.sidebar-item-container .delete-icon {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  color: var(--primary-color);
}

/* Editor Container */
.editor-container {
  box-sizing: border-box;
  height: 100vh;
  width: 80%;
  position: relative;
}

.editor-title-input {
  width: 100%; 
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 2.3rem;
  font-size: 2rem;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
}

.editor-title-input::placeholder {
  color: #fff;
} 

.editor-container .editor-root {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.editor-container .edit-icon {
  position: absolute;
  color: #fff;
  top: 1rem;
  left: 0.7rem;
}

/* Other*/
.error-message {
  color: #d42c2c;
  font-size: 1.5rem;
  margin-top: 1rem;
}


/* Buttons */
.btn {
  display: inline-block;  
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  /* margin-right: 0.5rem; */
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn-submit {
  display: inline-block;  
  background: #49C192;
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1.3rem;
  text-align: center;
  border: none;
  cursor: pointer;
  /* margin-right: 0.5rem; */
  /* outline: none; */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn-bg {
  min-width: 20rem;
  justify-content: center;
  width: 100%;
}

.btn-login-submit {
  width: 20rem;
}

/* inputs */
.input {
  /* display: inline-block; */
  background:#fff;
  color: #000;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border: 1px solid var(--main-gray);
  border-radius: 3px;
  min-width: 20rem; 
}
